<!DOCTYPE html>
<html>
<head>
    <title>Login - DDoS Demo Application</title>
</head>

<body>

    <h1>Login</h1>

    <form>
        <label>Username:</label>
        <input type="text" name="username">
        <br><br>

        <label>Password:</label>
        <input type="password" name="password">
        <br><br>

        <button type="submit">Login</button>
    </form>

    <hr>

    <a href="/">Home</a> |
    <a href="/products">Products</a> |
    <a href="/login">Login</a> |
    <a href="/about">About</a>

</body>
</html>